<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
 <beans>
 	<bean class="ex01.Hello" id="h">
 		<property name="msg">
 			<value>Hello</value>	
 		</property>
 	</bean>
 	<bean class="ex01.Hello" id="h2">
 		<property name="msg">
 			<value>World</value>
 		</property>
 	</bean>
 	
 	<bean class="ex02.Circle" id="c"></bean>
 	<bean class="ex02.Rectangle" id="r"></bean>
 	<bean class="ex02.Triangle" id="t"></bean>
 	
 	<bean class="ex03.MemberService" id="memberService"></bean>
 </beans>